[run]
source = results

[report]
omit =
    results/admin.py
    results/admin_backup.py
    results/views_backup.py
    results/context_processors.py
    results/pdf_generator.py
    results/utils.py
    results/services/*
    results/signals.py
    results/views.py
    results/forms.py